  <%= nested_ol @software.comment_threads, id: 'comments' do |comment| %>
    <div class="tagline comment" title="<%= comment.created_at %>">
      <span class="commentname"><%= comment.user.name %></span> <% if comment.user.name == @software.user.name %> <span class="badge badge-success mr-2">Éditeur</span><% end %>
      <small class="italic">Il y a <%= time_ago_in_words comment.created_at %></small>
      <% if user_signed_in? %>
      <span class="commentreply italic">
        <%= link_to 'Répondre', new_comment_path(parent_id: comment.id, format: 'js'), remote: true, method: :get %>
      </span>
      <% else %>
      <span class="commentreply italic">
        <a class="cursor-pointer" data-toggle="modal" data-target="#logInModal">Répondre</a>
      </span>
      <% end %>
    </div>
    <section class="body comment">
      <span class="commentbody"><%= comment.body %></span>
    </section>
    <div id="reply-form-<%= comment.id %>" style="display: none">
    </div>
 <% end -%>