<style>
.myapp2 {
    margin: 50px;
}
  .myapp3 {
       min-width:65%;
  }
@media screen and (max-width: 1000px) {
  .myapp {
        margin-left: 0px!important;
  }
}
.middle > * {
  vertical-align: middle;
}
</style>
<% if current_user.role_editor? %>
<div class="page-header">
    <h1 class="page-title">
            Mes applications
    </h1>
</div>

<% @softwares.each do |software| %>
<!-- wrapper -->
<section class="m-2 leading-normal flex mx-auto max-w-lg">
  <!-- card container -->
  <div class="myapp max-w-lg bg-white overflow-hidden m-4 sm:flex border rounded min-w-full">
    <div class="h-48 sm:h-auto sm:w-48 md:w-64 bg-cover bg-center text-center overflow-hidden">
    <div class="myapp2">
                                    <%= link_to software_path(software), class:"middle" do %>
                                    <%= image_tag logo_url(software) %>
                                    <% end %>
    </div></div>
    <!-- card-content -->
     <div class="myapp3 px-6 py-6">
      <h2 class="mb-2 mt-2 black"><%= link_to software.title, software_path(software) %> <% if software.published? %><span class="badge badge-success">En ligne</span><%else%><span class="badge badge-warning">Brouillon</span><%end%></h2>
      <p class="mb-4 text-grey-dark text-sm">
        <%= link_to software.slogan, software_path(software) %>
      </p>
       <!-- button -->
       <div class="text-right pt-8">
      <button type="button" class="btn btn-secondary btn-sm mb-1">Statistiques</button>
      <%= link_to "Aperçu", software_path(software),class:"btn btn-secondary btn-sm mb-1" %>
      <%= link_to "Mettre à jour", edit_software_path(software),class:"btn btn-primary btn-sm mb-1" %>
        </div>
    </div>
  </div>
</section>
<% end %>
<% end %>