<style>
.noyoutube {
    display:none;
}
.videoform {
    text-align: center;
    height: 190px;
    border-radius: 4px;
    margin-top: 10px;
}
.fileform {
    margin-bottom:15px;
}
.form-group.responsive
{
  display: inline-block;
  max-width: 300px;
  text-align: left;
  padding: 30px;
  background-color: #ddd;
  border-radius: 3px;
  margin: 15px;
  vertical-align: top;
}
@media screen and (max-width: 600px) 
{
  .form-group.responsive
    {
       max-width: 100%;
    }
}

trix-toolbar .button_group button.icon.link{
display:none!important;
}
trix-toolbar .button_group {
    border-bottom-color: #e0e5ec;
}
trix-editor {
    border: 1px solid #e0e5ec;
    min-height: 180px;
    background: #f5f7fb;
}
trix-toolbar .button_group button.active, trix-toolbar .button_group input[type=button].active {
    background: #f5f7fb;
}


.form-control {
    height: 2.1rem;
    font-family: monospace;
    font-size: 11px;
    border: 1px solid #dae1e7;
    border-top-color: #dee2e6;
    background: #f5f7fb;
}
.card-footer.text-right.step {
    padding-top: 0px;
}
.requis {
    color: #437dd2;
    font-size: 9px;
    position: relative;
    bottom: 6px;
    left: 3px;
}
.panel.panel-default {
    border: 1px solid #e0e5ec;
    border-radius: 4px;
    padding: 10px;
    width: 240px;
    max-height:250px;
}
.panel-body {    
    margin-bottom: 15px;
    padding-top: 5px;
    }

    /* selectize */
    .selectize-control.multi .selectize-input [data-value],.selectize-control.multi .selectize-input [data-value].active {
    text-shadow: none;
    box-shadow: none;
    word-wrap: break-word;
    font-size: 0.75rem;
    color: #6e7687;
    background-color: #e9ecef;
    border-radius: 3px;
    padding: 0 .5rem;
    line-height: 2em;
    display: -ms-inline-flexbox;
    font-weight: 400;
    background-image: none;
    background-repeat: repeat-x;
}
.selectize-control.multi .selectize-input [data-value].active {
    background-color: rgba(110, 118, 135, 0.2);
}
.selectize-input {
    box-shadow: none;
    border: 1px solid #dae1e7;
    border-top-color: #dee2e6;
    background: #f5f7fb;
}
.selectize-dropdown [data-selectable].option {
    font-size: 12px;
}
.selectize-input.focus {
    box-shadow: 0 0 0 1px rgba(70, 127, 207, 0.25);
    border-color: #e0e5ec;
}
.selectize-dropdown {
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}
input#software_category_ids-selectized {
    font-family: monospace;
    font-size: 11px;
}
.selectize-dropdown-content {
    max-height:250px;
}


trix-toolbar#trix-toolbar-1 {
    overflow: auto;
    position: sticky;
    top: 60px;
    background-color: white;
    padding-top: 10px;
}

.card-footer.text-right.step {
    border-bottom:none!important;
}

.form-group {
    margin-bottom: 0rem!important;
}
</style>
<%= simple_form_for @software, html: {multipart: true, id:"formulaire"} do |f| %>
<%= render 'shared/errors' %>
    <div class="row form">
        <div class="col-lg-9 form">
            <form class="card">
                <div class="card-body1">

<div class="tabs flex mb-4">
  <li class="tab-link current w-1/3 h-12 text-grey-darkest" data-tab="tab-1"><i class="fas fa-edit"></i> Détails</li>
  <li class="tab-link middle w-1/3 h-12 text-grey-darkest" data-tab="tab-2"><i class="fas fa-bars"></i> Catégories</li>
  <li class="tab-link w-1/3 h-12 text-grey-darkest" data-tab="tab-3"><i class="fas fa-images"></i> Images & Vidéo</li>
</div>

	<div id="tab-1" class="tab-content current">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <div class="flex">
                                    <div class="form-group w-100">
                                    <label class="form-label">Nom<span class="requis">(requis)</span></label>
                                    <%= f.text_field :title, id:"inputTitle",maxlength:"25",autocomplete: "title",class:"form-control col-sm-12 col-md-12", placeholder:"Uneapp" %>
                                    </div>
                                    </div>
                                    <div class="flex">
                                    <div class="form-group w-1/2">
                                    <label class="form-label">Site internet<span class="requis">(requis)</span></label>
                                    <%= f.text_field :software_url, id:"inputURL",maxlength:"150",autocomplete: "software_url",class:"form-control mr-1", placeholder:"https://www.uneapp.com",onblur:"checkURL(this)" %>
                                    </div>
                                    <div class="form-group w-1/2">
                                    <label class="form-label">Éditeur<span class="requis">(requis)</span></label>
                                    <%= f.text_field :editeur, id:"inputEditeur",maxlength:"45",autocomplete: "editeur",class:"form-control ml-1", placeholder:"Éditeur" %>
                                    </div>
                                    </div>
                                <div class="flex">
                                <div class="form-group w-1/3 ml-1">
                                    <label class="form-label">Facebook</label>
                                    <%= f.text_field :facebook,autocomplete: "facebook",maxlength:"100",class:"form-control", placeholder:"Facebook",onblur:"checkURL(this)" %>
                                </div>
                                <div class="form-group w-1/3 ml-1">
                                    <label class="form-label">Linkedin</label>
                                    <%= f.text_field :linkedin, autocomplete: "linkedin",maxlength:"100",class:"form-control", placeholder:"Linkedin",onblur:"checkURL2(this)" %>
                                </div>   
                                <div class="form-group w-1/3 ml-1">
                                    <label class="form-label">Twitter</label>
                                    <%= f.text_field :twitter, autocomplete: "twitter",maxlength:"100",class:"form-control", placeholder:"Twitter",onblur:"checkURL3(this)" %>
                                </div>
                                </div>

                                    <div class="flex">
                                    <div class="form-group w-100">
                                    <%= f.hidden_field :description,id:"inputDesc", rows:8,autocomplete: "description",class:"form-control col-sm-12 col-md-12", placeholder:"Description" %>
                                    <trix-editor input="inputDesc" name="text" id="text"></trix-editor>
                                    <label class="form-label float-left w-full">Description<span class="requis">(requis)</span> (200 mots minimum et 450 mots maximum) <span class="float-right"><span id="display_count">0</span></span></label>
                                    <label class="form-label float-left text-xs font-hairline w-full">Veuillez éviter du contenu dupliqué depuis votre site internet afin de ne pas nuire à votre référencement. Ce qui serait contraire à notre objectif.<br>
                                    Nous vérifierons le contenu avant la publication.</label>
                                    </div>
                                    </div>

                                   </div>
</div>
</div>

	<div id="tab-2" class="tab-content">
                              <div class="col-sm-12 col-md-12">
                                
                                <div class="flex">
                                <div class="form-group w-100">
                                <label class="form-label">Slogan<span class="requis">(requis)</span></label>
                                    <%= f.text_field :slogan, id:"inputSlogan",autocomplete: "slogan",maxlength:"50", class:"form-control", placeholder:"Rechercher une app qui améliorera votre quotidien professionnel" %>
                                </div>
                                </div>

                                    <div class="flex">
                                    <div class="form-group w-100">
                                    <% categories = {
                                    'Collaboration'      => [['Gestion de projet', 2], ['Messagerie', 3], ['Outils collaboratifs', 4], ['Partage de fichiers', 5], ['Présentation/Vidéo', 6], ["Réseau social d'entreprise", 7], ['Visioconférence', 8]],
                                    'Finances' => [['Comptabilité', 10], ['Devis',11],['Facturation/Recouvrement', 12], ['Gestion des achats/stocks',13],['Gestion des clients/fournisseurs', 14], ['Note de frais',15],['Paiement en ligne', 16], ['Rapports financiers',17], ['Trésorerie',18]],
                                    'Gestion commerciale'      => [['Fidélisation des clients', 20], ['Gestion des prospects', 21],['Gestion des ventes', 22], ['Gestion des visiteurs', 23],['Marketing Automation', 24], ['Organisations de réunions', 25],['Point de vente', 26], ['Prise de RDV/Réservations', 27]],
                                    'Internet' => [['Création de site', 29], ["Création d'application",30],['E-commerce', 31], ['Hébergement', 32],['Référencement', 33], ['Sécurité', 34],['Traduction', 35]],
                                    'Marketing'      => [['Campagnes publicitaires', 37], ['Enquêtes', 38], ['Gestion des réseaux sociaux', 40], ['Jeux-Concours', 41], ['Mailing', 42]],
                                    'Ressources humaines' => [['Formation', 44], ['Gestion des congés/absences',45],['Gestion des salaires', 46], ['Gestion des talents',47],['Recrutement', 48], ['Temps de travail',49]],
                                    'Service client' => [['Gestion des appels', 51], ['Live chat',52],['Multicanal', 53], ['Relation Client',54]],
                                    'Secteurs d\'activité' => [['Agricole', 56], ['Associations',57],['Avocat', 58], ['Bâtiment',59],['Coiffure',60],['Fitness', 61], ['Garage',62], ['Nettoyage à sec',63], ['Gestion locative',64], ['Gestion hôtelière',65], ['Restauration',66], ['Transport',67]],
                                    } %>


                                    <label class="form-label">Catégories<span class="requis">(5 maximum)</span></label>
                                    <%= f.select :category_ids, grouped_options_for_select(categories, @software.category_ids), {}, {multiple: true, id:"inputCat", class: "selectize" } %>
                                    </div>
                                    </div>
                                    <%# flex  %>
                                    
                                    <div class="flex">
                                    <div class="form-group w-100">
                                    <label class="form-label">Idéal pour<span class="requis">(requis)</span></label>
                                    <%= f.text_area :target, rows:3, id:"inputTarget",maxlength:"200", class:"form-control col-sm-12 col-md-12", placeholder:"Indépendant et petites entreprises" %>
                                    </div>
                                    </div>




                            </div>
  </div>

	<div id="tab-3" class="tab-content">
            <div class="col-sm-12 col-md-12">
            <div class="flex mb-4">
                                <div class="form-group w-1/4">
                                <label class="form-label">Logo<span class="requis">(requis)</span></label>
                                    <div class="cadreavatar logo">
                                    <%= image_tag logo_url(@software),id:"image" %>
                                    
                                    </div>
                                  <label class="bg-grey-light hover:bg-grey cursor-pointer text-grey-darkest font-bold py-2 px-4 rounded inline-flex items-center">
                                    <i class="fas fa-download"></i> <span class="telechargement">Choisir un logo</span>
                                    <span style="display:none;">
                                      <%= f.file_field :logo, id:"inputFiles",accept:"image/png, image/jpg, image/jpeg" %>
                                    </span>
                                  </label>
                                </div>
                                <div class="form-group w-3/4 pl-8">
                                <label class="form-label">Vidéo Youtube</label>
                                <%= f.text_field :video_url, id:"video_url",autocomplete: "video_url",class:"form-control", placeholder:"https://www.youtube.com/watch?v=2aOLW_R9-E4" %>
                                <div class="videoform"><span id="youtube-id"></span></div>
                                </div>
            </div>
            

<label class="form-label">Screenshots<span class="requis">(minimum 1 screenshot)</span></label>
<%= f.file_field :images, multiple: true,id:"inputScreen" %>
<br><br>
<div class="row">
   <% (0...@software.images.count).each do |image| %>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading preview">
                <%= image_tag(@software.medium(image))%>
            </div>
            <div class="panel-body">
                <span class="pull-right">
                    <%= link_to delete_image_attachment_software_url(@software.images[image]), method: :delete, data: {confirm: "Supprimer l'image ?"} do %>
                    <i class="fa fa-times fa-xs"></i> <small>Suppression</small>
                    <% end %>
                </span>
            </div>
        </div>
    </div>
    <% end %>
</div>


<br><br>




            </div>
	</div><%# tab 3 %>

                <div class="flex">
                    <div class="card-footer text-right step">
                  	<% if @software.published? %>
                    <%= f.submit "Annuler la publication", class: "btn btn-secondary mb-1" %>
                    <%= f.submit "Mettre à jour", id:"maj", class: "btn btn-primary mb-1", onclick:"return checkWordCount()"%>
                    <% else %>
                    <%= f.submit "Brouillon", class: "btn btn-secondary mb-1" %>
                    <%= f.submit "Publier", class: "btn btn-primary mb-1",id:"publish", onclick:"return checkWordCount()"%>
                    <% end %>
                  </div>
                </div>

                </div>
            </form>
        </div>
    </div>
<% end %>
<%# fin form %>


<script>
//logo
document.getElementById("inputFiles").onchange = function () {
    var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("image").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
};

// 2
// Tabs
$(document).ready(function(){
	
	$('.tabs.flex li').click(function(){
		var tab_id = $(this).attr('data-tab');

		$('.tabs.flex li').removeClass('current');
		$('.tab-content').removeClass('current');

		$(this).addClass('current');
		$("#"+tab_id).addClass('current');
	})

});

// 3
// empeche d'envoyer le formulaire avec la touche enter
$('#formulaire').on('keyup keypress', function(e) {
  var keyCode = e.keyCode || e.which;
  if (keyCode === 13) { 
    e.preventDefault();
    return false;
  }
});

// 4
$('#video_url').keyup(function (){
  var youtubeUrl = $('#video_url').val();
  var parsedUrl = youtubeUrl.split("/watch?v=");
  var parsedParams = parsedUrl[parsedUrl.length - 1].split("&");
  var youtubeId = parsedParams[parsedParams.length - 1];
  if (youtubeId.length == 0){
    $("#youtube-id" ).addClass("noyoutube");
  } else {
      $("#youtube-id" ).removeClass("noyoutube");
  }
  $('#youtube-id').html('<iframe src="https://www.youtube.com/embed/' + youtubeId + '" width="auto" height="190" frameborder="0" allowfullscreen></iframe>');
});

// 5
$(document).ready(function() {
    $("#text").on('keyup', function() {
        var words = this.value.match(/\S+/g).length;
        if (words > 450) {
            // Split the string on first 200 words and rejoin on spaces
            var trimmed = $(this).val().split(/\s+/, 450).join(" ");
            // Add a space at the end to keep new typing making new words
            $(this).val(trimmed + " ");
        }
        else {
            $('#display_count').text(words);
            $('#word_left').text(450-words);
        }
    });
 }); 

// // 6
//  function checkWordCount(){
//     s = document.getElementById("text").value;
//     s = s.replace(/(^\s*)|(\s*$)/gi,"");
//     s = s.replace(/[ ]{2,}/gi," ");
//     s = s.replace(/\n /,"\n");
//     if (s.split(' ').length <= 200) {
//         alert("Pas assez de mots dans la description ...");
// return false;
//     }
// }

function checkWordCount() {
var x=document.forms["formulaire"]["inputTitle"].value;
if (x==null || x=="")
  {
  alert("Veuillez indiquer un nom dans le formulaire");
  return false;
  }

var y=document.forms["formulaire"]["inputURL"].value;
if (y==null || y=="") {
  alert("Veuillez indiquer une url dans le formulaire");
  return false;
  }

var y=document.forms["formulaire"]["inputEditeur"].value;
if (y==null || y=="") {
  alert("Veuillez indiquer un éditeur dans le formulaire");
  return false;
  }

var y=document.forms["formulaire"]["inputSlogan"].value;
if (y==null || y=="") {
  alert("Veuillez indiquer un slogan dans le formulaire");
  return false;
  }

var y=document.forms["formulaire"]["inputCat"].value;
if (y==null || y=="") {
  alert("Veuillez indiquer une catégorie");
  return false;
  }

var y=document.forms["formulaire"]["inputTarget"].value;
if (y==null || y=="") {
  alert("Veuillez remplir le champ 'idéal pour' dans le formulaire");
  return false;
  }

var y=document.forms["formulaire"]["inputFiles"].value;
if (y==null || y=="") {
  alert("Veuillez ajouter un logo");
  return false;
  }

var y=document.forms["formulaire"]["inputScreen"].value;
if (y==null || y=="") {
  alert("Veuillez ajouter une capture d'écran");
  return false;
  }

    s = document.getElementById("text").value;
    s = s.replace(/(^\s*)|(\s*$)/gi,"");
    s = s.replace(/[ ]{2,}/gi," ");
    s = s.replace(/\n /,"\n");
    if (s.split(' ').length <= 200) {
        alert("Pas assez de mots dans la description ...");
return false;
    }
    }

// 7
$(document).ready(function(){
$("#maj, #publish").click(function(){

var url = $("#inputDesc").val();
var b = url.search(/(?:https?|ftp):\/\/[\n\S]+/g);
if(b >0 ) {
alert("Nous n'acceptons pas de lien dans la description.");
return false;
} 
})
})
</script>

<%# 
<script>
// Bouton publish disabled
$(document).ready(function (){
    validate();
    $('#inputTitle, #inputURL, #inputEditeur, #inputSlogan,#inputDesc,#inputFiles').change(validate);
});

function validate(){
    if ($('#inputTitle').val().length   >   3   &&
        $('#inputURL').val().length  >   0   &&
        $('#inputEditeur').val().length  >   0   &&
        $('#inputDesc').val().length  >   500   &&
        $('#inputTarget').val().length  >   6   &&
        $('#inputSlogan').val().length    >   5) {
        $("input#publish").prop("disabled", false);
    }
    else {
        $("input#publish").prop("disabled", true);
    }
}
</script> %>

 <%# <script>
 function checkURL (abc) {
  var string = abc.value;
  if (!~string.indexOf("https")) {
    string = "https://" + string;
  }
  abc.value = string;
  return abc
}

 function checkURL3 (abc) {
  var string = abc.value;
  if (!~string.indexOf("https")) {
    string = "https://" + string;
  }
  abc.value = string;
  return abc
}

 function checkURL4 (abc) {
  var string = abc.value;
  if (!~string.indexOf("https")) {
    string = "https://" + string;
  }
  abc.value = string;
  return abc
}
</script> %>