<style>
   .carousel-item img,.carousel-item.active,.carousel-item.active iframe{
   width: 570px!important;
   height: 305px!important;
   }
   div#carousel-thumb {
   padding: 10px 0px 10px 10px;
   background: #f5f7fb;
   border: 1px solid #e0e5ec;
   }
   .carousel-indicators li {
   background-color: #dee2e6;
   height: 5px;
   }
   .carousel-indicators .active {
   background-color: #b8c2cc;
   }
   img.card-img-top {
   border-radius: 0px;
   padding: 10px;
   }
   .photoseul {
   background: #f5f7fb;
   border: 1px solid #e0e5ec;
   }
   .carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#495057' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
   }
   .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#495057' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
   }
   .show hr {
   margin-top: .3rem;
   margin-bottom: .7rem;
   }
   .link .fa-facebook:before {
   top: 0px;
   right:0px;
   }
   .link button.btn.btn-secondary.btn-sm {
   color:#606f7b;
   }

<%#  %>
   .bigshow {
   display:none;
   }
   .bigshow2 {
   display:block;
   }
   .littleshow2 {
   display:none!important;
   }
   .bigshow2 div#carousel-thumb {
   width: 550px;
   margin: auto;
   }
   .bigshow.mt-4.overflow-hidden.bg-white.shadow.rounded.mx-auto.bigshow2 {
   width:70%;
   }
   .bigshow .image_wrapper {
   width:80px;
   display:table-cell;
      position: relative;
    top: 24px;
   }
   .bigshow .image_wrapper img {
   border-radius:4px;
   }
   .bigshow_titre {
   display:table-cell;
   padding-left:20px!important;
   width: 700px;
   }
   @media only screen and (max-width: 1000px){
   .bigshow.mt-4.overflow-hidden.bg-white.shadow.rounded.mx-auto.bigshow2 {
   width:100%!important;
   }
   }
   .slide {
    max-width: 600px;
    margin: auto;
   }
   .containershow {
    background: white;
    margin: auto;
    max-width:900px;
    }

    .show.description {
      text-align: justify;
    }

.favoris_button {
    margin-right: 10px;
    font-size: 14px;
}
.bigshow .btn i {
    position: relative;
    font-size: 1.5rem;
    top: 1px;
}
.bigshow span.btn.btn-secondary.btn-sm.pl-4.pr-4,.bigshow span.btn.btn-primary.btn-sm.pl-4.pr-4 {
    float: right;
    font-size:14px;
}
.like.show {
    display: inline!important;
    float: right!important;
}
.slider-box._clearfix {
    background: #f5f7fb;
    padding: 10px;
   padding-bottom: 5px;
    border: 1px solid #e0e5ec;
}
  .prev, .next{
    display: inline;
    font-size: 18px;
    border: 1px solid #ececec;
    color: #666666;
    padding-top:1px;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    background: white;
    }
      .prev:hover, .next:hover{
cursor:pointer;
    }
    .paginator-center.text-color.text-center {
    margin-top: 5px;
}
ul.prevnext {
    padding-left: 0px;
}
iframe.slick-slide.slick-current.slick-active {
    width: 570px;
    height: 305px;
}
.image_wrapper.little, .image_wrapper.little img {
   width:80px;
   display:inline-block;
   border-radius:4px;
   position: relative;
   top: 8px;
}
.info.little {
       display: inline-block;
       left: 0px;
       max-width: 85%;
}
a.tag {
   margin-bottom:4px;
}
.littleshow a.tag {
  font-size: 10px;
}
.titleshow {
    position: relative;
    bottom: 10px;
}

.hello.no-click,.hello2.no-click.disliked {
    color:#495057;
    background-color: #fff;
    border-color: rgba(0, 40, 100, 0.12);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.hello2.no-click {
    color:white;
    background-color: #467fcf;
    border-color: #467fcf;
}
.hello.no-click.liked {
    color:white;
    background-color: #467fcf;
    border-color: #467fcf;
}
.hello2.no-click.liked {
    color:white;
    background-color: #467fcf;
    border-color: #467fcf;
}
</style>
<div class="containershow" data-id="<%= @software.slug %>">
<div class="bigshow mt-4 overflow-hidden bg-white rounded mx-auto">
<div class="p-4 mb-4">
      <div class="image_wrapper">
         <%= image_tag logo_url(@software) %>
      </div>
      <div class="bigshow_titre">
         <h3 class="mb-2"><%= @software.title %>

         <small class="text-sm">(Par <%= @software.editeur %>)</small>

        <% if (!user_signed_in?) %>
        <a class="like_button no-click" data-toggle="modal" data-target="#signUpModal">
            <span class="btn btn-secondary btn-sm pl-4 pr-4 no-click"><i class="fas fa-caret-up fa-lg no-click" aria-hidden="true"></i></span>
        </a>
        <% else %>
            <% if (!current_user.liked? @software) %>
                <%= link_to like_software_path(@software), class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello btn btn-secondary btn-sm pl-4 pr-4 no-click" id="software-<%= @software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>  
            <% else %>
                <%= link_to like_software_path(@software),class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello2 btn btn-primary btn-sm pl-4 pr-4 no-click" id="software-<%= @software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>
            <% end %>
        <% end %>
        
</h3>
         <h5 class="text-grey-dark mb-2">
            <%= @software.slogan %>
         </h5>
         <div class="cat_big">   
         <% @software.categories.each do |category| %>
         <% if category.parent.nil? %>
                parent
                <% else %>
                <%= link_to category.name, category, class:"tag no-click" %>
         <% end %>
         <% end %>
         </div>
      </div>
   </div>
</div> 
<%# fin du big %>

<div class="littleshow w-full overflow-hidden bg-white rounded mx-auto">
<div class="titleshow p-4 h-32">
         <div class="image_wrapper little">      
            <%= image_tag @software.logo %>
         </div>
      <div class="info little">
      <h3 class="mb-2"><%= @software.title %> <small class="text-sm">(Par <%= @software.editeur %>)</small></h3>
      <label class="form-label text-sm mb-2">
         <%= @software.slogan %>
      </label>
      <div class="cat_little">   
         <% @software.categories.each do |category| %>
         <% if category.parent.nil? %>
                parent
                <% else %>
                <%= link_to category.name, category, class:"tag no-click" %>
         <% end %>
         <% end %>
      </div>
      </div>
      <%# info %>
   </div>
</div>
<%# fin du little %>
<div class="slide">
<% if get_video_iframe(@software.video_url) == nil %>
                          <div class="slider-box _clearfix">
                          <div class="slick-slider">
                                <% (0...@software.images.count).each do |image| %>
                                <%= image_tag(@software.large(image))%>
                                <% end %>
                          </div>
                         <div class="paginator-center text-color text-center">
                          <ul class="prevnext">
                              <li class="prev"><i class="fas fa-arrow-circle-left"></i></li>
                              <li class="next"><i class="fas fa-arrow-circle-right"></i></li>
                          </ul>
                        </div>
                        </div>
<% else %>
                          <div class="slider-box _clearfix">
                          <div class="slick-slider">
                                <%= get_video_iframe(@software.video_url) %>
                                <% (0...@software.images.count).each do |image| %>
                                <%= image_tag(@software.large(image))%>
                                <% end %>
                          </div>
                         <div class="paginator-center text-color text-center">
                          <ul class="prevnext">
                              <li class="prev"><i class="fas fa-arrow-circle-left"></i></li>
                              <li class="next"><i class="fas fa-arrow-circle-right"></i></li>
                          </ul>
                        </div>
                        </div>
<% end %>
</div>

<div class="w-full overflow-hidden bg-white rounded mx-auto">
<div class="link mt-4 mb-2 text-center">
      <%= link_to @software.software_url, :target=>"_blank" do %><button type="button" class="btn btn-secondary btn-sm"><i class="fas fa-external-link-alt"></i> Website</button><% end %>
      <% if @software.facebook == "" %><%else%><%= link_to @software.facebook, :target=>"_blank" do %><button type="button" class="btn btn-secondary btn-sm"><i class="fab fa-facebook"></i> Facebook</button><% end %><% end %>
      <% if @software.linkedin == "" %><%else%><%= link_to @software.linkedin, :target=>"_blank" do %><button type="button" class="btn btn-secondary btn-sm"><i class="fab fa-linkedin"></i> Linkedin</button><% end %><% end %>
      <% if @software.twitter == "" %><%else%><%= link_to @software.twitter, :target=>"_blank" do %><button type="button" class="btn btn-secondary btn-sm"><i class="fab fa-twitter-square"></i> Twitter</button><% end %><% end %>
   </div>
   <div class="show p-4">
      <div class="text-grey-darkest text-sm sans-serif">
         <h5>Idéal pour</h5>
         <hr>
         <p> <%= @software.target %></p>
      </div>
   </div>
</div>
<%# commun aussi %>


<div class="bigshow mt-4 overflow-hidden bg-white rounded mx-auto">
<div class="show description p-4">
      <div class="text-grey-darkest text-sm sans-serif">
         <h5>Description</h5>
         <hr>
         <p><%= sanitize @software.description %> </p>
      </div>
   </div>
</div>
<%# fin big %>


<div class="littleshow w-full overflow-hidden bg-white rounded mx-auto">
<div class="show p-4">
      <div class="text-grey-darkest text-sm sans-serif">
         <h5>Description</h5>
         <hr>
         <p><%= sanitize @software.description %></p>
      </div>
   </div>
</div>
<%# fin little %>

<div class="w-full overflow-hidden bg-white rounded mx-auto">
<div class="show p-4 bg-white">
   <div class="text-grey-darkest text-sm sans-serif">
      <h5>Commentaires</h5>
      <hr>
      <div id="comment-software-<%= @software.id.to_s %>">
         <%= render 'comments/list', comment: @comment %>
      </div>
      <br>
      <div id="comment-form-software-<%= @software.id.to_s %>">
         <%= render 'comments/form', comment: @comment %>
      </div>
   </div>
</div>
</div>
<%# fin commun %>

</div>
<%# fin containershow %>

<script>
   if (window.location.href.indexOf($('.containershow[data-id]').attr('data-id')) > -1) {
       $(".littleshow" ).addClass( "littleshow2" );
       $(".bigshow" ).addClass( "bigshow2" );
   }

//2 
function createSlick(){  

	$(".slick-slider").not('.slick-initialized').slick({
      centerPadding: '0px',
      prevArrow: $('.prev'),
      nextArrow: $('.next'),
      responsive: true,
});	
}

createSlick();

//Now it will not throw error, even if called multiple times.
$(window).on( 'resize', createSlick );
</script>