<style>
.sidebar {
  width: 13%;
  height: 90vh;
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  padding-top:20px;
  border-right: 1px solid #e0e5ec;
}
.sidebar2 {
  width: 47%;
  padding-top:20px;
  padding-bottom: 20px;
}
.footer {
      margin-top: 0rem!important;
}
.main {
  width: 40%;
  height: 200vh;
  min-height: 1700px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  margin-top:20px;


    min-height: auto;
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
}

div#contentest {
    height: 85vh;
    overflow: auto;
    position: sticky;
    position: -webkit-sticky;
    top: 80px;
    border: 1px solid #e6e7e9;
    border-radius: 4px;
    background: white;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}

.bottom {
  justify-self: bottom;
}
ul {
  padding-left: 0px;
}
ul li a {
  font-size: 0.8rem;
  font-weight: 100;
  color: #868e96;
}
.titrenav {
    color: #495057;
}








.clearfix:before, .clearfix:after {
	content:" ";
	display: table;
}
.clearfix:after{
	clear: both;
}
.main_header{
	margin: 5em 0 3em 0;
}
.logo img {
		width:75px;
		float: left;
}
.logo h1{
	float: left;
	margin: 0 0 0 1em;
	text-transform: uppercase;
	font-size: 1.34em;
	padding-top: 1.8em;
	color :#34324b;
}
.logo h1 span{
	font-weight: 400;
}
.current{
	color: #34324b;
	font-weight: 700;
}
#timeline{
  width: 100%;
  position: relative;
  list-style: none;
  padding: 0;
}
#timeline a {
text-decoration: none;
}
 #timeline:after {
    content: "";
    width: 1px;
    background: 1px #e6e7e9;
    height: 90%;
    position: absolute;
    top: 3em;
    left: 3em;
    z-index: 0; }
#timeline .listing{
  background-color: white;
  border: 1px solid #e6e7e9;
  border-radius: 0.3em;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
  z-index: 1;
  display: table;
  width: 100%;
  transition: all .3s ease-in-out;
}
.listing:hover{
  cursor: pointer;
  box-shadow: 0px 2px 40px 0 rgba(0,0,0,0.1);

}
#timeline .listing img,.info,.job_type{
  display: table-cell;
  vertical-align: middle;
  font-size: 0.9em;
  color: #74718f;
}
#timeline .image_wrapper{
  width: 60px;
}
#timeline .image_wrapper img{
  width: 60px;
  display : block;
  margin : 0 auto;
  border-radius: 0.25em;
}
.info{
  line-height: 1.25;
  padding-left: 10px;
  max-height: 61px;
}
.job_title{
  font-weight: 700;
  font-size: 15px;
  color: #34324b;
  max-height: 19px;
}
.job_info{
  color:#74718f;
  display: block;
  font-size: 13px;
}
.job_info span{
  margin: 0 .75em;
}
.contract{
  color: #a378fc;

}
.contract:before{
background-color:#a378fc;
}
.date{
  display: inline-block; 
  padding: 1em 0;
  width: 100px;
  background-color: white;
  border: 1px solid #e6e7e9;
  border-radius: 3em;
  font-weight: 700;
  font-size: .75em;
  text-align: center;
  z-index: 2;
  position: relative;
  margin : 1em 0 2em 0;
  color: #34324b;
}
@media only screen and (max-width: 768px){
.logo{
   display: block;
  text-align: center;
}
.logo img {
    float: none;
}
.logo h1{
  float: none;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 1.1em;
}
}

.listing.clearfix.little{
   display: none!important;
}
@media only screen and (max-width: 1200px){
  #timeline .image_wrapper {
    display: inline-block!important;
    position: relative;
    left: 20px;
  }
  .info.big {
    padding-left:0px;
    max-width: 80%;
  }
  #timeline .listing {
    max-height: 105px;
    padding-top: 20px;
}
.listing.clearfix.big{
   display: none!important;
}
.listing.clearfix.little{
   display: block!important;
}
.listing.clearfix.little .image_wrapper{
   display: table-cell!important;
}
.sidebar2 {
  display:none!important;
}
.sidebar {
  width:20%;
}
.main {
  width:80%;
}
}
@media only screen and (max-width: 800px){
  .container.example-three {
   max-width:400px!important;
}
 }

@media only screen and (max-width: 800px){
.sidebar {
  display:none!important;
}
.main {
  width:100%;
}
}

.favoris_button {
  display:none;
}

.newsletter {
    width: 100%;
    min-height: 60vh;
    background: white;
    border: 1px solid #e0e5ec;
    border-radius: 4px;
}
.newsletter2 {
    position: absolute;
    top: 35%;
    transform: translateY(-35%);
    background: #f5f7fb;
    padding: 15px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid #e0e5ec;
    text-align: center;
    border-radius: 4px;
}

#nav ul li a {
    font-size: 0.72rem;
    font-weight: 100;
    color: #868e96;
}

#nav .titrenav a {
  color: #495057;
  font-size: 0.75rem;
}

.contenta {
    opacity: 0.2;
}

@media only screen and (max-width: 1200px){  
    .container.example-three,.job_title, .info, .job_info {
    max-height:200px!important;
}
}

   .like_button {
   display: inline-block;
   float: right;
   }
   #timeline .listing {
   max-height:90px;
   }
   .like_button {
      position:relative;
      bottom: 3.6rem;
      z-index:1;
      margin-right:20px;
   }
   li.listing.clearfix.big {
    margin-bottom: -10px!important;
}

span.cat_info {
    margin: 0px;
    margin-bottom: 4px;
}

.cat_info a {
       font-size: 9px;
}
.job_info {
    margin-top: 4px;
    margin-bottom: 4px;
    max-width:100%;
    max-height: 16px;
}

.info.big {
    line-height: 1.25;
    padding-left: 25px;
    display: inline-block;
    position: relative;
    bottom: 5px;
}
.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.scroll::-webkit-scrollbar {
  display: none; }

.container.example-three {
    max-width: 340px!important;
    float: left;
    padding-left: 0px;
    margin-right: 0px;
    max-height:19px;
} 
nav.vertical-align-middle.scroll {
    white-space: nowrap;
    overflow-x: scroll;
}
#timeline .image_wrapper {
  position:absolute;
}
.info {
    position: relative;
    left: 4%;
    width: 80%;
}

.image_wrapper {
    max-height: 60px;
    height:60px;
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 500px){ 
.container.example-three {
    max-width: 550px!important;
}
.info.big {
    max-width: 17em;
    margin-top: 10px;
}
a.like_button.no-click {
    padding-top:10px;
}
#timeline .listing {
    min-height: 10.3em;
}
nav.vertical-align-middle.scroll {
    max-width:250px;
}
#timeline .image_wrapper {
    padding-top:25px;
}
.main {
    height: auto;
}
}

.hello.no-click,.hello2.no-click.disliked {
    color:#495057;
    background-color: #fff;
    border-color: rgba(0, 40, 100, 0.12);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.hello2.no-click {
    color:white;
    background-color: #467fcf;
    border-color: #467fcf;
}
.hello.no-click.liked {
    color:white;
    background-color: #467fcf;
    border-color: #467fcf;
}
.hello2.no-click.liked {
    color:white;
    background-color: #467fcf;
    border-color: #467fcf;
}
@media only screen and (max-width: 1200px){  
    .job_info {
    max-width:100%;
}

.info {
    left: 18%;
}
}
</style>
<div class="index">
<div class="wrapper">
<div class="sidebar">
<nav id="nav" class="overflow-y-auto text-base lg:text-sm">
    <div class="mb-4">
      <p class="titrenav mb-3 lg:mb-2 text-grey uppercase tracking-wide font-bold text-sm lg:text-xs"><%= link_to "Secteurs d'activité", controller: "categories", action: "show", id: 55 %></p>
      <ul>
         <li class="mb-3 lg:mb-2"><%= link_to "Agricole", controller: "categories", action: "show", id: 56 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Associations", controller: "categories", action: "show", id: 57 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Avocat", controller: "categories", action: "show", id: 58 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Bâtiment", controller: "categories", action: "show", id: 59 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Coiffure", controller: "categories", action: "show", id: 60 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Fitness", controller: "categories", action: "show", id: 61 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Garage", controller: "categories", action: "show", id: 62 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Nettoyage à sec", controller: "categories", action: "show", id: 63 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Gestion locative", controller: "categories", action: "show", id: 64 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Gestion hôtelière", controller: "categories", action: "show", id: 65 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Restauration", controller: "categories", action: "show", id: 66 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Transport", controller: "categories", action: "show", id: 67 %></li>
      </ul>
   </div>
   <div class="mb-4">
      <p class="titrenav mb-3 lg:mb-2 text-grey uppercase tracking-wide font-bold text-sm lg:text-xs"><%= link_to "Collaboration", controller: "categories", action: "show", id: 1 %></p>
      <ul>
         <li class="mb-3 lg:mb-2"><%= link_to "Gestion de projet",controller: "categories", action: "show", id: 2 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Messagerie",controller: "categories", action: "show", id: 3 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Outils collaboratifs", controller: "categories", action: "show", id: 4 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Partage de fichiers", controller: "categories", action: "show", id: 5 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Présentation/Vidéo", controller: "categories", action: "show", id: 6 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Réseau Social d'entreprise", controller: "categories", action: "show", id: 7 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Visioconférence", controller: "categories", action: "show", id: 8 %></li>       
      </ul>
   </div>
    <div class="mb-4">
      <p class="titrenav mb-3 lg:mb-2 text-grey uppercase tracking-wide font-bold text-sm lg:text-xs"><%= link_to "Finances", controller: "categories", action: "show", id: 9 %></p>
      <ul>
         <li class="mb-3 lg:mb-2"><%= link_to "Comptabilité",  controller: "categories", action: "show", id: 10 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Devis", controller: "categories", action: "show", id: 11 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Facturation/Recouvrement", controller: "categories", action: "show", id: 12 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Gestion des achats/stocks", controller: "categories", action: "show", id: 13 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Gestion des clients/fournisseurs", controller: "categories", action: "show", id: 14 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Note de frais", controller: "categories", action: "show", id: 15 %></li>  
         <li class="mb-3 lg:mb-2"><%= link_to "Paiement en ligne", controller: "categories", action: "show", id: 16 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Rapports financiers", controller: "categories", action: "show", id: 17 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Trésorerie", controller: "categories", action: "show", id: 18 %></li> 
      </ul>
   </div>
   <div class="mb-4">
      <p class="titrenav mb-3 lg:mb-2 text-grey uppercase tracking-wide font-bold text-sm lg:text-xs"><%= link_to "Gestion commerciale", controller: "categories", action: "show", id: 19 %></p>
      <ul>
         <li class="mb-3 lg:mb-2"><%= link_to "Fidélisation des clients", controller: "categories", action: "show", id: 20 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Gestion des prospects", controller: "categories", action: "show", id: 21 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Gestion des ventes", controller: "categories", action: "show", id: 22 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Gestion des visiteurs", controller: "categories", action: "show", id: 23 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Marketing Automation", controller: "categories", action: "show", id: 24 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Organisations de réunions", controller: "categories", action: "show", id: 25 %></li> 
         <li class="mb-3 lg:mb-2"><%= link_to "Point de vente", controller: "categories", action: "show", id: 26 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Prise de RDV/Réservations", controller: "categories", action: "show", id: 27 %> </li> 
      </ul>
   </div>
      <div class="mb-4">
      <p class="titrenav mb-3 lg:mb-2 text-grey uppercase tracking-wide font-bold text-sm lg:text-xs"><%= link_to "Internet", controller: "categories", action: "show", id: 28 %></p>
      <ul>
         <li class="mb-3 lg:mb-2"><%= link_to "Création de site", controller: "categories", action: "show", id: 29 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Création d'application", controller: "categories", action: "show", id: 30 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "E-commerce", controller: "categories", action: "show", id: 31 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Hébergement", controller: "categories", action: "show", id: 32 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Référencement", controller: "categories", action: "show", id: 33 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Sécurité", controller: "categories", action: "show", id: 34 %></li>  
         <li class="mb-3 lg:mb-2"><%= link_to "Traduction", controller: "categories", action: "show", id: 35 %></li>  
      </ul>
   </div>
      <div class="mb-4">
      <p class="titrenav mb-3 lg:mb-2 text-grey uppercase tracking-wide font-bold text-sm lg:text-xs"><%= link_to "Marketing", controller: "categories", action: "show", id: 36 %></p>
      <ul>
         <li class="mb-3 lg:mb-2"><%= link_to "Campagnes publicitaires", controller: "categories", action: "show", id: 37 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Enquêtes", controller: "categories", action: "show", id: 38 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Gestion des réseaux sociaux", controller: "categories", action: "show", id: 40 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Jeux-Concours", controller: "categories", action: "show", id: 41 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Mailing", controller: "categories", action: "show", id: 42 %></li> 
      </ul>
   </div>
      <div class="mb-4">
      <p class="titrenav mb-3 lg:mb-2 text-grey uppercase tracking-wide font-bold text-sm lg:text-xs"><%= link_to "Ressources humaines", controller: "categories", action: "show", id: 43 %></p>
      <ul>
         <li class="mb-3 lg:mb-2"><%= link_to "Formation", controller: "categories", action: "show", id: 44 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Gestion des congés/absences", controller: "categories", action: "show", id: 45 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Gestion des salaires", controller: "categories", action: "show", id: 46 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Gestion des talents", controller: "categories", action: "show", id: 47 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Recrutement", controller: "categories", action: "show", id: 48 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Temps de travail", controller: "categories", action: "show", id: 49 %></li> 
  </ul>
   </div>
      <div class="mb-4">
      <p class="titrenav mb-3 lg:mb-2 text-grey uppercase tracking-wide font-bold text-sm lg:text-xs"><%= link_to "Service client", controller: "categories", action: "show", id: 50 %></p>
      <ul>
         <li class="mb-3 lg:mb-2"><%= link_to "Gestion des appels", controller: "categories", action: "show", id: 51 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Live chat", controller: "categories", action: "show", id: 52 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Multicanal", controller: "categories", action: "show", id: 53 %></li>
         <li class="mb-3 lg:mb-2"><%= link_to "Relation client", controller: "categories", action: "show", id: 54 %></li>
      </ul>
   </div>
</nav>
</div>



  <div class="main">
    <div id="my-softwares">

    	<ul id="timeline">
    <div id="my-softwares">
<% if @category.id == 55 %>
<% @secteurs.each do |software| %>
<% if software.published? && software.approved %>
        <li class="listing clearfix big" data-id="<%= software.slug %>">
          <div class="image_wrapper">      
            <%= image_tag software.logo %>
          </div>
          <div class="info">
            <span class="job_title"><%= software.title %></span>
            <span class="job_info"><%= software.slogan %></span>
            <div class="container example-three">
            <nav class="vertical-align-middle scroll">
            <span class="cat_info">         
               <% software.categories.each do |category| %>
               <% if category.parent.nil? %>
                     parent
                     <% else %>
                     <%= link_to category.name, category, class:"tag no-click" %>
               <% end %>
               <% end %>
            </span>
            </nav>
            </div>
          </div>
        </li>

<li class="listing clearfix little" data-id="<%= software.slug %>">
   <div class="image_wrapper">
      <%= image_tag software.logo.variant(resize: "120x120") %>
   </div>
   <div class="info big">
      <span class="job_title"><%= software.title %>
      </span>
      <span class="job_info"><%= software.slogan %></span>
            <div class="container example-three">
            <nav class="vertical-align-middle scroll">
            <span class="cat_info">      
         <% software.categories.each do |category| %>
         <% if category.parent.nil? %>
                parent
                <% else %>
                <%= link_to category.name, category, class:"tag no-click" %>
         <% end %>
         <% end %>
      </span> 
      </nav>
      </div>
   </div>
</li>

        <% if (!user_signed_in?) %>
        <a class="like_button no-click" data-toggle="modal" data-target="#signUpModal">
            <span class="btn btn-secondary btn-sm pl-4 pr-4 no-click"><i class="fas fa-caret-up fa-lg no-click" aria-hidden="true"></i></span>
        </a>
        <% else %>
            <% if (!current_user.liked? software) %>
                <%= link_to like_software_path(software), class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello btn btn-secondary btn-sm pl-4 pr-4 no-click" id="software-<%= software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>  
            <% else %>
                <%= link_to like_software_path(software),class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello2 btn btn-primary btn-sm pl-4 pr-4 no-click" id="software-<%= software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>
            <% end %>
        <% end %>

<% end %>
<%# published %>
<% end %>
<%# secteurs %>
<% end %>  



<% if @category.id == 1 %>
<% @collaboration.each do |software| %>
<% if software.published? && software.approved %>
        <li class="listing clearfix big" data-id="<%= software.slug %>">
          <div class="image_wrapper">      
            <%= image_tag software.logo %>
          </div>
          <div class="info">
            <span class="job_title"><%= software.title %></span>
            <span class="job_info"><%= software.slogan %></span>
            <div class="container example-three">
            <nav class="vertical-align-middle scroll">
            <span class="cat_info">         
               <% software.categories.each do |category| %>
               <% if category.parent.nil? %>
                     parent
                     <% else %>
                     <%= link_to category.name, category, class:"tag no-click" %>
               <% end %>
               <% end %>
            </span>
            </nav>
            </div>
          </div>
        </li>

<li class="listing clearfix little" data-id="<%= software.slug %>">
   <div class="image_wrapper">
      <%= image_tag software.logo.variant(resize: "120x120") %>
   </div>
   <div class="info big">
      <span class="job_title"><%= software.title %>
      </span>
      <span class="job_info"><%= software.slogan %></span>
            <div class="container example-three">
            <nav class="vertical-align-middle scroll">
            <span class="cat_info">      
         <% software.categories.each do |category| %>
         <% if category.parent.nil? %>
                parent
                <% else %>
                <%= link_to category.name, category, class:"tag no-click" %>
         <% end %>
         <% end %>
      </span> 
      </nav>
      </div>
   </div>
</li>

        <% if (!user_signed_in?) %>
        <a class="like_button no-click" data-toggle="modal" data-target="#signUpModal">
            <span class="btn btn-secondary btn-sm pl-4 pr-4 no-click"><i class="fas fa-caret-up fa-lg no-click" aria-hidden="true"></i></span>
        </a>
        <% else %>
            <% if (!current_user.liked? software) %>
                <%= link_to like_software_path(software), class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello btn btn-secondary btn-sm pl-4 pr-4 no-click" id="software-<%= software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>  
            <% else %>
                <%= link_to like_software_path(software),class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello2 btn btn-primary btn-sm pl-4 pr-4 no-click" id="software-<%= software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>
            <% end %>
        <% end %>

<% end %>
<%# published %>
<% end %>
<%# collaboration %>
<% end %>  


<% if @category.id == 9 %>
<% @finances.each do |software| %>
<% if software.published? && software.approved %>
        <li class="listing clearfix big" data-id="<%= software.slug %>">
          <div class="image_wrapper">      
            <%= image_tag software.logo %>
          </div>
          <div class="info">
            <span class="job_title"><%= software.title %></span>
            <span class="job_info"><%= software.slogan %></span>
            <div class="container example-three">
            <nav class="vertical-align-middle scroll">
            <span class="cat_info">         
               <% software.categories.each do |category| %>
               <% if category.parent.nil? %>
                     parent
                     <% else %>
                     <%= link_to category.name, category, class:"tag no-click" %>
               <% end %>
               <% end %>
            </span>
            </nav>
            </div>
          </div>
        </li>

<li class="listing clearfix little" data-id="<%= software.slug %>">
   <div class="image_wrapper">
      <%= image_tag software.logo.variant(resize: "120x120") %>
   </div>
   <div class="info big">
      <span class="job_title"><%= software.title %>
      </span>
      <span class="job_info"><%= software.slogan %></span>
            <div class="container example-three">
            <nav class="vertical-align-middle scroll">
            <span class="cat_info">      
         <% software.categories.each do |category| %>
         <% if category.parent.nil? %>
                parent
                <% else %>
                <%= link_to category.name, category, class:"tag no-click" %>
         <% end %>
         <% end %>
      </span> 
      </nav>
      </div>
   </div>
</li>

        <% if (!user_signed_in?) %>
        <a class="like_button no-click" data-toggle="modal" data-target="#signUpModal">
            <span class="btn btn-secondary btn-sm pl-4 pr-4 no-click"><i class="fas fa-caret-up fa-lg no-click" aria-hidden="true"></i></span>
        </a>
        <% else %>
            <% if (!current_user.liked? software) %>
                <%= link_to like_software_path(software), class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello btn btn-secondary btn-sm pl-4 pr-4 no-click" id="software-<%= software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>  
            <% else %>
                <%= link_to like_software_path(software),class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello2 btn btn-primary btn-sm pl-4 pr-4 no-click" id="software-<%= software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>
            <% end %>
        <% end %>

<% end %>
<%# published %>
<% end %>
<% end %>  
<%# finances %>


<% if @category.id == 19 %>
<% @commerce.each do |software| %>
<% if software.published? && software.approved %>
        <li class="listing clearfix big" data-id="<%= software.slug %>">
          <div class="image_wrapper">      
            <%= image_tag software.logo %>
          </div>
          <div class="info">
            <span class="job_title"><%= software.title %></span>
            <span class="job_info"><%= software.slogan %></span>
            <div class="container example-three">
            <nav class="vertical-align-middle scroll">
            <span class="cat_info">         
               <% software.categories.each do |category| %>
               <% if category.parent.nil? %>
                     parent
                     <% else %>
                     <%= link_to category.name, category, class:"tag no-click" %>
               <% end %>
               <% end %>
            </span>
            </nav>
            </div>
          </div>
        </li>

<li class="listing clearfix little" data-id="<%= software.slug %>">
   <div class="image_wrapper">
      <%= image_tag software.logo.variant(resize: "120x120") %>
   </div>
   <div class="info big">
      <span class="job_title"><%= software.title %>
      </span>
      <span class="job_info"><%= software.slogan %></span>
            <div class="container example-three">
            <nav class="vertical-align-middle scroll">
            <span class="cat_info">      
         <% software.categories.each do |category| %>
         <% if category.parent.nil? %>
                parent
                <% else %>
                <%= link_to category.name, category, class:"tag no-click" %>
         <% end %>
         <% end %>
      </span> 
      </nav>
      </div>
   </div>
</li>

        <% if (!user_signed_in?) %>
        <a class="like_button no-click" data-toggle="modal" data-target="#signUpModal">
            <span class="btn btn-secondary btn-sm pl-4 pr-4 no-click"><i class="fas fa-caret-up fa-lg no-click" aria-hidden="true"></i></span>
        </a>
        <% else %>
            <% if (!current_user.liked? software) %>
                <%= link_to like_software_path(software), class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello btn btn-secondary btn-sm pl-4 pr-4 no-click" id="software-<%= software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>  
            <% else %>
                <%= link_to like_software_path(software),class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello2 btn btn-primary btn-sm pl-4 pr-4 no-click" id="software-<%= software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>
            <% end %>
        <% end %>

<% end %>
<%# published %>
<% end %>
<% end %>  
<%# commerce %>



<% if @category.id == 28 %>
<% @internet.each do |software| %>
<% if software.published? && software.approved %>
        <li class="listing clearfix big" data-id="<%= software.slug %>">
          <div class="image_wrapper">      
            <%= image_tag software.logo %>
          </div>
          <div class="info">
            <span class="job_title"><%= software.title %></span>
            <span class="job_info"><%= software.slogan %></span>
            <div class="container example-three">
            <nav class="vertical-align-middle scroll">
            <span class="cat_info">         
               <% software.categories.each do |category| %>
               <% if category.parent.nil? %>
                     parent
                     <% else %>
                     <%= link_to category.name, category, class:"tag no-click" %>
               <% end %>
               <% end %>
            </span>
            </nav>
            </div>
          </div>
        </li>

<li class="listing clearfix little" data-id="<%= software.slug %>">
   <div class="image_wrapper">
      <%= image_tag software.logo.variant(resize: "120x120") %>
   </div>
   <div class="info big">
      <span class="job_title"><%= software.title %>
      </span>
      <span class="job_info"><%= software.slogan %></span>
            <div class="container example-three">
            <nav class="vertical-align-middle scroll">
            <span class="cat_info">      
         <% software.categories.each do |category| %>
         <% if category.parent.nil? %>
                parent
                <% else %>
                <%= link_to category.name, category, class:"tag no-click" %>
         <% end %>
         <% end %>
      </span> 
      </nav>
      </div>
   </div>
</li>

        <% if (!user_signed_in?) %>
        <a class="like_button no-click" data-toggle="modal" data-target="#signUpModal">
            <span class="btn btn-secondary btn-sm pl-4 pr-4 no-click"><i class="fas fa-caret-up fa-lg no-click" aria-hidden="true"></i></span>
        </a>
        <% else %>
            <% if (!current_user.liked? software) %>
                <%= link_to like_software_path(software), class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello btn btn-secondary btn-sm pl-4 pr-4 no-click" id="software-<%= software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>  
            <% else %>
                <%= link_to like_software_path(software),class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello2 btn btn-primary btn-sm pl-4 pr-4 no-click" id="software-<%= software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>
            <% end %>
        <% end %>

<% end %>
<%# published %>
<% end %>
<% end %>  
<%# internet %>



<% if @category.id == 36 %>
<% @marketing.each do |software| %>
<% if software.published? && software.approved %>
        <li class="listing clearfix big" data-id="<%= software.slug %>">
          <div class="image_wrapper">      
            <%= image_tag software.logo %>
          </div>
          <div class="info">
            <span class="job_title"><%= software.title %></span>
            <span class="job_info"><%= software.slogan %></span>
            <div class="container example-three">
            <nav class="vertical-align-middle scroll">
            <span class="cat_info">         
               <% software.categories.each do |category| %>
               <% if category.parent.nil? %>
                     parent
                     <% else %>
                     <%= link_to category.name, category, class:"tag no-click" %>
               <% end %>
               <% end %>
            </span>
            </nav>
            </div>
          </div>
        </li>

<li class="listing clearfix little" data-id="<%= software.slug %>">
   <div class="image_wrapper">
      <%= image_tag software.logo.variant(resize: "120x120") %>
   </div>
   <div class="info big">
      <span class="job_title"><%= software.title %>
      </span>
      <span class="job_info"><%= software.slogan %></span>
            <div class="container example-three">
            <nav class="vertical-align-middle scroll">
            <span class="cat_info">      
         <% software.categories.each do |category| %>
         <% if category.parent.nil? %>
                parent
                <% else %>
                <%= link_to category.name, category, class:"tag no-click" %>
         <% end %>
         <% end %>
      </span> 
      </nav>
      </div>
   </div>
</li>

        <% if (!user_signed_in?) %>
        <a class="like_button no-click" data-toggle="modal" data-target="#signUpModal">
            <span class="btn btn-secondary btn-sm pl-4 pr-4 no-click"><i class="fas fa-caret-up fa-lg no-click" aria-hidden="true"></i></span>
        </a>
        <% else %>
            <% if (!current_user.liked? software) %>
                <%= link_to like_software_path(software), class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello btn btn-secondary btn-sm pl-4 pr-4 no-click" id="software-<%= software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>  
            <% else %>
                <%= link_to like_software_path(software),class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello2 btn btn-primary btn-sm pl-4 pr-4 no-click" id="software-<%= software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>
            <% end %>
        <% end %>

<% end %>
<%# published %>
<% end %>
<% end %>  
<%# marketing %>

<% if @category.id == 43 %>
<% @rh.each do |software| %>
<% if software.published? && software.approved %>
        <li class="listing clearfix big" data-id="<%= software.slug %>">
          <div class="image_wrapper">      
            <%= image_tag software.logo %>
          </div>
          <div class="info">
            <span class="job_title"><%= software.title %></span>
            <span class="job_info"><%= software.slogan %></span>
            <div class="container example-three">
            <nav class="vertical-align-middle scroll">
            <span class="cat_info">         
               <% software.categories.each do |category| %>
               <% if category.parent.nil? %>
                     parent
                     <% else %>
                     <%= link_to category.name, category, class:"tag no-click" %>
               <% end %>
               <% end %>
            </span>
            </nav>
            </div>
          </div>
        </li>

<li class="listing clearfix little" data-id="<%= software.slug %>">
   <div class="image_wrapper">
      <%= image_tag software.logo.variant(resize: "120x120") %>
   </div>
   <div class="info big">
      <span class="job_title"><%= software.title %>
      </span>
      <span class="job_info"><%= software.slogan %></span>
            <div class="container example-three">
            <nav class="vertical-align-middle scroll">
            <span class="cat_info">      
         <% software.categories.each do |category| %>
         <% if category.parent.nil? %>
                parent
                <% else %>
                <%= link_to category.name, category, class:"tag no-click" %>
         <% end %>
         <% end %>
      </span> 
      </nav>
      </div>
   </div>
</li>

        <% if (!user_signed_in?) %>
        <a class="like_button no-click" data-toggle="modal" data-target="#signUpModal">
            <span class="btn btn-secondary btn-sm pl-4 pr-4 no-click"><i class="fas fa-caret-up fa-lg no-click" aria-hidden="true"></i></span>
        </a>
        <% else %>
            <% if (!current_user.liked? software) %>
                <%= link_to like_software_path(software), class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello btn btn-secondary btn-sm pl-4 pr-4 no-click" id="software-<%= software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>  
            <% else %>
                <%= link_to like_software_path(software),class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello2 btn btn-primary btn-sm pl-4 pr-4 no-click" id="software-<%= software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>
            <% end %>
        <% end %>

<% end %>
<%# published %>
<% end %>
<% end %>  
<%# rh %>

<% if @category.id == 50 %>
<% @client.each do |software| %>
<% if software.published? && software.approved %>
        <li class="listing clearfix big" data-id="<%= software.slug %>">
          <div class="image_wrapper">      
            <%= image_tag software.logo %>
          </div>
          <div class="info">
            <span class="job_title"><%= software.title %></span>
            <span class="job_info"><%= software.slogan %></span>
            <div class="container example-three">
            <nav class="vertical-align-middle scroll">
            <span class="cat_info">         
               <% software.categories.each do |category| %>
               <% if category.parent.nil? %>
                     parent
                     <% else %>
                     <%= link_to category.name, category, class:"tag no-click" %>
               <% end %>
               <% end %>
            </span>
            </nav>
            </div>
          </div>
        </li>

<li class="listing clearfix little" data-id="<%= software.slug %>">
   <div class="image_wrapper">
      <%= image_tag software.logo.variant(resize: "120x120") %>
   </div>
   <div class="info big">
      <span class="job_title"><%= software.title %>
      </span>
      <span class="job_info"><%= software.slogan %></span>
            <div class="container example-three">
            <nav class="vertical-align-middle scroll">
            <span class="cat_info">      
         <% software.categories.each do |category| %>
         <% if category.parent.nil? %>
                parent
                <% else %>
                <%= link_to category.name, category, class:"tag no-click" %>
         <% end %>
         <% end %>
      </span> 
      </nav>
      </div>
   </div>
</li>

        <% if (!user_signed_in?) %>
        <a class="like_button no-click" data-toggle="modal" data-target="#signUpModal">
            <span class="btn btn-secondary btn-sm pl-4 pr-4 no-click"><i class="fas fa-caret-up fa-lg no-click" aria-hidden="true"></i></span>
        </a>
        <% else %>
            <% if (!current_user.liked? software) %>
                <%= link_to like_software_path(software), class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello btn btn-secondary btn-sm pl-4 pr-4 no-click" id="software-<%= software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>  
            <% else %>
                <%= link_to like_software_path(software),class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello2 btn btn-primary btn-sm pl-4 pr-4 no-click" id="software-<%= software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>
            <% end %>
        <% end %>

<% end %>
<%# published %>
<% end %>
<% end %>  
<%# client %>



<% if @category.subtree %>
<% @category.softwares.order("published_at desc").each do |software| %>
<% if software.published? && software.approved %>
        <li class="listing clearfix big" data-id="<%= software.slug %>">
          <div class="image_wrapper">      
            <%= image_tag software.logo %>
          </div>
          <div class="info">
            <span class="job_title"><%= software.title %></span>
            <span class="job_info"><%= software.slogan %></span>
            <div class="container example-three">
            <nav class="vertical-align-middle scroll">
            <span class="cat_info">         
               <% software.categories.each do |category| %>
               <% if category.parent.nil? %>
                     parent
                     <% else %>
                     <%= link_to category.name, category, class:"tag no-click" %>
               <% end %>
               <% end %>
            </span>
            </nav>
            </div>
          </div>
        </li>

<li class="listing clearfix little" data-id="<%= software.slug %>">
   <div class="image_wrapper">
      <%= image_tag software.logo.variant(resize: "120x120") %>
   </div>
   <div class="info big">
      <span class="job_title"><%= software.title %>
      </span>
      <span class="job_info"><%= software.slogan %></span>
            <div class="container example-three">
            <nav class="vertical-align-middle scroll">
            <span class="cat_info">      
         <% software.categories.each do |category| %>
         <% if category.parent.nil? %>
                parent
                <% else %>
                <%= link_to category.name, category, class:"tag no-click" %>
         <% end %>
         <% end %>
      </span> 
      </nav>
      </div>
   </div>
</li>

        <% if (!user_signed_in?) %>
        <a class="like_button no-click" data-toggle="modal" data-target="#signUpModal">
            <span class="btn btn-secondary btn-sm pl-4 pr-4 no-click"><i class="fas fa-caret-up fa-lg no-click" aria-hidden="true"></i></span>
        </a>
        <% else %>
            <% if (!current_user.liked? software) %>
                <%= link_to like_software_path(software), class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello btn btn-secondary btn-sm pl-4 pr-4 no-click" id="software-<%= software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>  
            <% else %>
                <%= link_to like_software_path(software),class:"like_button ml-auto no-click", method: :put, remote: true do %> 
                <span class="hello2 btn btn-primary btn-sm pl-4 pr-4 no-click" id="software-<%= software.id.to_s %>"><i class="fas fa-caret-up no-click" aria-hidden="true"></i></span>
                <% end %>
            <% end %>
        <% end %>

<% end %>
<%# published %>
<% end %>
<% end %>
    </div>
    </ul>
  </div>
  </div><%# main %>

<div class="sidebar2">
  <div id='contentest'>

<div class="newsletter2">
  <h3>Inscrivez-vous à notre newsletter</h3>
  <br>

      <form class="w-full max-w-sm" id="theform" name="theform" action="https://my.sendinblue.com/users/subscribeembed/js_id/3tn1g/id/2" method="POST">
        <div class="flex items-center border-b border-b-2 border-teal py-2">
         <input type="hidden" name="js_id" id="js_id" value="3tn1g"><input type="hidden" name="listid" id="listid" value="3"><input type="hidden" name="from_url" id="from_url" value="yes"><input type="hidden" name="hdn_email_txt" id="hdn_email_txt" value=""> <input type="hidden" name="sib_simple" value="simple"> <input type="hidden" name="sib_forward_url" value="https://www.uneapp.com" id="sib_forward_url"> 
            <input type="hidden" name="req_hid" id="req_hid" value="" style="font-size: 13px;"> 
            <!-- an email as primary --> 
              <input type="email" name="email" id="email" value="" placeholder="clyde.thomson@uneapp.com" class="appearance-none bg-transparent border-none w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none"> 
                  <div style="clear:both;"></div>
                  <div class="hidden-btns">
                     <br> <!----> 
                  </div>
            <!-- end of primary --> 
            <button class="flex-no-shrink bg-teal hover:bg-teal-dark border-teal hover:border-teal-dark text-sm border-4 text-white py-1 px-2 rounded" type="submit" data-editfield="subscribe">S'inscrire</button>
            <div style="clear:both;"></div>
            </div>
      </form>
<!-- End : SendinBlue Signup Form HTML Code -->

</div>
<%# newsletter2 %>

  </div>
</div>


</div>
<%# wrapper %>
</div>
<%# index %>

<script>
$(".listing.clearfix.big[data-id]").click(function (e) {
  if (!$(e.target).hasClass('no-click')) {
    $.get('/app/' + $(this).attr('data-id'), function (data) {
      $('#contentest').html(data);
    });
  }
});

$(".listing.clearfix.little[data-id]").click(function (e) {
  if (!$(e.target).hasClass('no-click')) {
    window.location = "/app/" + $(this).attr('data-id');
  }
});
</script>
