<style>
.dropdown.menu.categories {
  display:none;
}
.header-brand2 {
    font-size:25px;
}
@media only screen and (max-width: 800px){
.dropdown.menu.categories {
  display:inline-block;
}
.dropdown.menu.categories a.nav-link.pr-0.leading-none {
        color: rgb(73, 80, 85);
}
}
.une {
    background: #437dd2;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
    border-radius: 8px 0px;
    margin-right: 1px;
}
.app {
    font-weight: bold;
    color: #495056;
}

input[type="text"]:focus + input[type="submit"] {
  /* some sweet CSS */
  background-color: green;
}

ul.fixe{
    display:none!important;
}
ul.fixe.focused {
    display:block!important;
}
.form-control.search {
    font-family: 'Montserrat';
    font-size: 0.8em;
    width: 25em;
    height: 2.1rem;
    background: #f5f7fb;
    transition: width 0.3s 0.25s;
    -webkit-transition: width 0.3s 0.25s;
}

.form-control.search:focus {
    box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 6px rgba(59, 64, 69, 0.1);
     width:48em;
     border-radius:2px;
}
div#eac-container-qq,div#eac-container-q {
    width: 38.4em;
}
div#eac-container-qq {
    z-index:10000;
}
div#eac-container-q {
    z-index:10001;
}
span.input-icon-addon.focused {
    display:none;
}
.overlay.focused {
  opacity:    0.5; 
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        60px; 
  left:       0; 
  position:   fixed; 
}

.easy-autocomplete-container {
    z-index: 10000;
}
.nav-wrapper .header.fixed {
    z-index: 10000;
}

li.selected {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
    border-radius: 0 0 4px 4px;
}
.easy-autocomplete-container ul {
    border-top:none;
    border-radius: 4px;
}
.easy-autocomplete input.focused {
    border-radius:4px 4px 0px 0px;
}
.easy-autocomplete input {
    box-shadow:none;
    border-radius:2px;
}
#eac-container-q ul.dele{
    display:none!important;
    transition-property: display;
    transition-delay: 4s;
}
.mystyle {
display:none!important;
}


<%# search %>
.input-icon .form-control {
    background: white;
    border: 1px solid #e0e5ec;
}
.input-icon .form-control.scrolled {
  background:#f5f7fb;
  transition: background 3s;
}
#bloc2 h6 {
    padding-bottom: 4px;
    padding-top:8px;
    font-size: 16px;
}
span.s-2 {
    color: #8795a1;
    font-size: 14px;
}
.easy-autocomplete-container ul li, .easy-autocomplete-container ul .eac-category {
    border-bottom: 1px solid #f1f5f8;
    border-radius: 0px;
}
.nav-wrapper .header,.navbar-light .navbar-text,.navbar-light .navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-light .navbar-brand {
    padding-top:2px;
    padding-bottom:2px;
}
@media only screen and (max-width: 1000px){ 
.form-control.search:focus {
     width:25em;
}
}

@media only screen and (max-width: 800px){ 
#connexion {
    min-height:17em;
    padding: 20px;
}
#connexion h4 {
    font-size: 1em;
}
#connexion h6 {
    font-size: 0.9em;
    margin-bottom: 20px;
}
form.input-icon {
  display:none;
}
} 
i.fas.fa-bars {
    margin-right:5px;
    margin-left:5px;
}

.dropdown-menu.scrollable-menu.show {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
    padding-top: 0px;
}
li.main-sub {
    color: #495055;
    background: #f5f7fb;
    font-weight: bold;
    border-top: 1px solid #e0e5ec;
    border-bottom: 1px solid #e0e5ec;
    font-size:0.8rem;
    padding:10px;
}
li.sub-drop {
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom:2px;
}
li.sub-drop a {
    font-size: 0.8rem;
    font-weight: 100;
    color: #868e96!important;
}
.scrollable-menu {
    height: auto;
    max-height: 320px;
    min-width:240px;
    overflow-x: hidden;
}
.dropdown.cat {
    display:none;
}
@media only screen and (max-width: 800px){ 
    .dropdown.cat {
    display:block;
}
}
</style>
<div class="overlay"></div>  
<div class="nav-wrapper">  
<div class="header">
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light">
<%= link_to root_path do %>
  <span class="navbar-brand"><span class="une">une</span><span class="app">app</span></span>
<% end %>
<div class="dropdown cat">
  <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-bars"></i>
  </button>
  <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
      <li class="main-sub"><%= link_to "Collaboration", controller: "categories", action: "show", id: 1 %></li>
         <li class="sub-drop"><%= link_to "Gestion de projet",controller: "categories", action: "show", id: 2 %></li>
         <li class="sub-drop"><%= link_to "Messagerie",controller: "categories", action: "show", id: 3 %></li>
         <li class="sub-drop"><%= link_to "Outils collaboratifs", controller: "categories", action: "show", id: 4 %></li>
         <li class="sub-drop"><%= link_to "Partage de fichiers", controller: "categories", action: "show", id: 5 %></li>
         <li class="sub-drop"><%= link_to "Présentation/Vidéo", controller: "categories", action: "show", id: 6 %></li>
         <li class="sub-drop"><%= link_to "Réseau Social d'entreprise", controller: "categories", action: "show", id: 7 %></li>
         <li class="sub-drop"><%= link_to "Visioconférence", controller: "categories", action: "show", id: 8 %></li>  

      <li class="main-sub"><%= link_to "Finances", controller: "categories", action: "show", id: 9 %></li>
         <li class="sub-drop"><%= link_to "Comptabilité",  controller: "categories", action: "show", id: 10 %></li>
         <li class="sub-drop"><%= link_to "Devis", controller: "categories", action: "show", id: 11 %></li>
         <li class="sub-drop"><%= link_to "Facturation/Recouvrement", controller: "categories", action: "show", id: 12 %></li>
         <li class="sub-drop"><%= link_to "Gestion des achats/stocks", controller: "categories", action: "show", id: 13 %></li>
         <li class="sub-drop"><%= link_to "Gestion des clients/fournisseurs", controller: "categories", action: "show", id: 14 %></li>
         <li class="sub-drop"><%= link_to "Note de frais", controller: "categories", action: "show", id: 15 %></li>  
         <li class="sub-drop"><%= link_to "Paiement en ligne", controller: "categories", action: "show", id: 16 %></li>
         <li class="sub-drop"><%= link_to "Rapports financiers", controller: "categories", action: "show", id: 17 %></li>
         <li class="sub-drop"><%= link_to "Trésorerie", controller: "categories", action: "show", id: 18 %></li> 

      <li class="main-sub"><%= link_to "Gestion commerciale", controller: "categories", action: "show", id: 19 %></li>
         <li class="sub-drop"><%= link_to "Fidélisation des clients", controller: "categories", action: "show", id: 20 %></li>
         <li class="sub-drop"><%= link_to "Gestion des prospects", controller: "categories", action: "show", id: 21 %></li>
         <li class="sub-drop"><%= link_to "Gestion des ventes", controller: "categories", action: "show", id: 22 %></li>
         <li class="sub-drop"><%= link_to "Gestion des visiteurs", controller: "categories", action: "show", id: 23 %></li>
         <li class="sub-drop"><%= link_to "Marketing Automation", controller: "categories", action: "show", id: 24 %></li>
         <li class="sub-drop"><%= link_to "Organisations de réunions", controller: "categories", action: "show", id: 25 %></li> 
         <li class="sub-drop"><%= link_to "Point de vente", controller: "categories", action: "show", id: 26 %></li>
         <li class="sub-drop"><%= link_to "Prise de RDV/Réservations", controller: "categories", action: "show", id: 27 %> </li> 

      <li class="main-sub"><%= link_to "Internet",controller: "categories", action: "show", id: 28 %></li>
         <li class="sub-drop"><%= link_to "Création de site", controller: "categories", action: "show", id: 29 %></li>
         <li class="sub-drop"><%= link_to "Création d'application", controller: "categories", action: "show", id: 30 %></li>
         <li class="sub-drop"><%= link_to "E-commerce", controller: "categories", action: "show", id: 31 %></li>
         <li class="sub-drop"><%= link_to "Hébergement", controller: "categories", action: "show", id: 32 %></li>
         <li class="sub-drop"><%= link_to "Référencement", controller: "categories", action: "show", id: 33 %></li>
         <li class="sub-drop"><%= link_to "Sécurité", controller: "categories", action: "show", id: 34 %></li>  
         <li class="sub-drop"><%= link_to "Traduction", controller: "categories", action: "show", id: 35 %></li>  

      <li class="main-sub"><%= link_to "Marketing",controller: "categories", action: "show", id: 36 %></li>
         <li class="sub-drop"><%= link_to "Campagnes publicitaires", controller: "categories", action: "show", id: 37 %></li>
         <li class="sub-drop"><%= link_to "Enquêtes", controller: "categories", action: "show", id: 38 %></li>
         <li class="sub-drop"><%= link_to "Fidélisation client", controller: "categories", action: "show", id: 39 %></li>
         <li class="sub-drop"><%= link_to "Gestion des réseaux sociaux", controller: "categories", action: "show", id: 40 %></li>
         <li class="sub-drop"><%= link_to "Jeux-Concours", controller: "categories", action: "show", id: 41 %></li>
         <li class="sub-drop"><%= link_to "Mailing", controller: "categories", action: "show", id: 42 %></li> 

      <li class="main-sub"><%= link_to "Ressources humaines",controller: "categories", action: "show", id: 43 %></li>
         <li class="sub-drop"><%= link_to "Formation", controller: "categories", action: "show", id: 44 %></li>
         <li class="sub-drop"><%= link_to "Gestion des congés/absences", controller: "categories", action: "show", id: 45 %></li>
         <li class="sub-drop"><%= link_to "Gestion des salaires", controller: "categories", action: "show", id: 46 %></li>
         <li class="sub-drop"><%= link_to "Gestion des talents", controller: "categories", action: "show", id: 47 %></li>
         <li class="sub-drop"><%= link_to "Recrutement", controller: "categories", action: "show", id: 48 %></li>
         <li class="sub-drop"><%= link_to "Temps de travail", controller: "categories", action: "show", id: 49 %></li> 


      <li class="main-sub"><%= link_to "Service client", controller: "categories", action: "show", id: 50 %></li>
         <li class="sub-drop"><%= link_to "Gestion des appels", controller: "categories", action: "show", id: 51 %></li>
         <li class="sub-drop"><%= link_to "Live chat", controller: "categories", action: "show", id: 52 %></li>
         <li class="sub-drop"><%= link_to "Multicanal", controller: "categories", action: "show", id: 53 %></li>
         <li class="sub-drop"><%= link_to "Relation client", controller: "categories", action: "show", id: 54 %></li>
</div>
  <%# dropdown-menu %>
</div>
<%# dropdown %>


    <ul class="navbar-nav mr-auto pl-4">

   <%#     
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
     %>
                    <%= form_with url: search_path, local: true, method: :get, html: { class: "input-icon" } do |form| %>
                    <%= form.text_field :q, placeholder: "A la recherche d'une app professionnel ...", data: { behavior: "autocomplete" }, onkeypress:"myFunction()",class: "form-control search" %>
                        <span class="input-icon-addon">
                        <i class="fas fa-search"></i>
                        </span>
                    <% end %>
              
</ul>    
    <span class="navbar-text">
<% if user_signed_in? %>
                    <div class="dropdown menu">
                    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                    <%= image_tag avatar_url(current_user), class:"avatar" %>
                    <span class="nameheader">
                    <%= current_user.name %> <%= current_user.fullname %>
                    <small class="text-muted d-block mt-1"><%= current_user.email %></small>
                    </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <%= link_to edit_user_registration_path do %>
                        <span class="dropdown-item">
                        <i class="far fa-user"></i> Mon profil
                        </span>
                        <% end %>

                        <% if current_user.role_editor? %>
                            <%= link_to new_software_path do %>
                            <span class="dropdown-item">
                            <i class="fas fa-plus"></i> Ajouter une app
                            </span>
                            <% end %>

                            <%= link_to myapp_path do %>
                            <span class="dropdown-item">
                            <i class="fas fa-list-ol"></i> Mes applications
                            </span>
                            <% end %>
                        <% end %>

                        <%= link_to user_path(current_user) do %>
                        <span class="dropdown-item">
                        <i class="far fa-heart"></i> Mes favoris
                        </span>
                        <% end %>
                        <%= link_to new_software_path do %>
                        <span class="dropdown-item">
                        <i class="fas fa-comments"></i> Mes commentaires
                        </span>
                        <% end %>
                        <div class="dropdown-divider"></div>
                        <a href="../contacts/new">
                        <span class="dropdown-item">
                        <i class="far fa-question-circle"></i> Besoin d'aide ? 
                        </span>
                        </a>
                        <%= link_to destroy_user_session_path, method: :delete do%>
                        <span class="dropdown-item">
                        <i class="fas fa-sign-out-alt"></i> Déconnexion
                        </span>
                        <% end %>
                    </div>
                </div>
    <% else %>



       <a class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#signUpModal">Inscription</a>
       <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#logInModal">Connexion</a>
    <% end %>
    </span>
  
</nav>
</div></div><%# main et container %>
</div><%# nav wrapper %>


<% if (!user_signed_in?) %>
<div id="connexion">
    <h4>Rechercher une app, qui améliorera votre quotidien professionnel</h4>
    <h6>Une façon simple de retrouver des applications web qui vous <u>plaisent</u> et qui vous <u>conviennent</u> !</h6>
    <button class="facebooklogin"><i class="fab fa-facebook fa-2x"></i><%= link_to "Continuer avec Facebook", root_path %></button>                  
    <button class="googlelogin"><i class="fab fa-google fa-2x"></i><%= link_to "Continuer avec Google", root_path  %></button>
</div>

<% end %>


<script>
// cache the element
var $navBar = $('.header');

// find original navigation bar position
var navPos = $navBar.offset().top;

// on scroll
$(window).scroll(function() {

    // get scroll position from top of the page
    var scrollPos = $(this).scrollTop();

    // check if scroll position is >= the nav position
    if (scrollPos >= navPos) {
        $navBar.addClass('fixed');
    } else {
        $navBar.removeClass('fixed');
    }

        if (scrollPos <= navPos) {
        $navBar.removeClass('fixed');
    } else {
        $navBar.addClass('fixed');
    }
});
</script>

<script>
function setFocused() {
  var results = document.querySelectorAll('.overlay, .fixe, .form-control.search,span.input-icon-addon,.easy-autocomplete input');
  for (result of results) {
    result.classList.add('focused');
  }
}

function unsetFocused() {
  var results = document.querySelectorAll('.overlay, .fixe, .form-control.search,span.input-icon-addon,.easy-autocomplete input');
  for (result of results) {
    result.classList.remove('focused');
  }
}

var results = document.querySelectorAll('input#q');
for (result of results) {
  result.addEventListener("focus", setFocused);
  result.addEventListener("blur", unsetFocused);
}
</script>

<script>
$(function () {
  $(document).scroll(function () {
    var $nav = $(".input-icon .form-control");
    $nav.toggleClass('scrolled', $(this).scrollTop() > 0);
  });
});
</script>