<!DOCTYPE html>
<html>
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131698605-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131698605-1');
</script>


    <%= display_meta_tags %>
    <%= display_meta_tags site: 'uneapp', title: 'Trouvez une app professionnel' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <%= favicon_link_tag 'favicon.png' %>
	  
    <%# tailwind et webpack %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
      <!-- Hotjar Tracking Code for https://www.uneapp.com -->
      <script>
          (function(h,o,t,j,a,r){
              h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
              h._hjSettings={hjid:1131237,hjsv:6};
              a=o.getElementsByTagName('head')[0];
              r=o.createElement('script');r.async=1;
              r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
              a.appendChild(r);
          })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
      </script>
    </head>

  <body>
    <%= render 'layouts/navigation' %>
            <!--Notifications-->
    <%= render 'shared/message' %>

  <%# Modal devise %>
    <% unless user_signed_in? %>
      <%= render partial: 'users/registrations/new' %>
      <%= render partial: 'users/sessions/new' %>
    <% end %>
    <% unless editor_signed_in? %>
      <%= render partial: 'editors/registrations/new' %>
    <% end %>
    <div class="container">
    <%= yield %>
    </div>
    
   <%= render 'layouts/footer' %>
  </body>

<%# Pour rouvrir le modal si mauvais mot de passse %>
<% if flash[:logInModal] %>
<script>
$('#logInModal').modal('show');
</script>
<% end %>
</html>