<!DOCTYPE html>
<html>
  <head>
    <title>uneapp - Trouver une app professionnel</title>
    <%= csrf_meta_tags %>
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans" rel="stylesheet">
    <%= favicon_link_tag 'favicon.png' %>
    </head>

  <body>
    <%= render 'layouts/navigation' %>
            <!--Notifications-->
    <%= render 'shared/message' %>

  <%# Modal devise %>
    <% unless user_signed_in? %>
      <%= render partial: 'users/registrations/new' %>
      <%= render partial: 'users/sessions/new' %>
    <% end %>
    <% unless editor_signed_in? %>
      <%= render partial: 'editors/registrations/new' %>
    <% end %>
    <div class="container">
    <%= yield %>
    </div>
    
   <%= render 'layouts/footer' %>
  </body>

<%# Pour rouvrir le modal si mauvais mot de passse %>
<% if flash[:logInModal] %>
<script>
$('#logInModal').modal('show');
</script>
<% end %>

  <script>
  if (window.location.href.indexOf("/softwaress/") > -1) {
    alert("found it");
}
  </script>

</html>